{% extends "starsweb/base.html" %}

{% block title %}{{ game.name }} | Games | {{ block.super }}{% endblock %}

{% block header %}
<h1>{{ game.name }}</h1>
<p class="lead">{% if game.current_turn %}Year {{ game.current_turn }}{% endif %}[{{ game.get_state_display }}]</p>
{% endblock %}

{% block content %}
  {% if game.description_html %}
  <div class="description">
  {{ game.description_html|safe }}
  </div>
  {% endif %}

  {% if game.press %}
  <h3>Read <a href="{% url 'starsweb:article_list' realm_slug=game.slug %}">{{ game.press }}</a>!</h3>
  {% endif %}

  <table class="table">
    <thead>
	<tr>
        <th>Name</th>
        <th>Race</th>
        <th>Score</th>
	</tr>
    </thead>
    {% for race, score in races %}
    <tr>
	<td>{{ race.all_ambassadors|default_if_none:"--" }}</td>
	<td>{{ race }}</td>
	<td>{{ score|default_if_none:"N/A" }}</td>
    </tr>
    {% endfor %}
  </table>

{% endblock %}
