{% extends "starsweb/base.html" %}

{% block title %}{{ game.name }} | Games | {{ block.super }}{% endblock %}

{% block page_title %}{{ game.name }}{% endblock %}

{% block content %}
  <h2>{{ game.current_turn|default_if_none:game.state }}</h2>

  {% if game.description_html %}
  <div class="description">
  {{ game.description_html|safe }}
  </div>
  {% endif %}

  {% if game.press %}
  <h3>Read <a href="{% url starsweb:press_article_list realm_slug=game.slug %}">{{ game.press }}</a>!</h3>
  {% endif %}

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Race</th>
        <th>Score</th>
      </tr>
    </thead>
    {% for race in game.races %}
    {% if race.all_ambassadors %}
    <tr>
      <td>{{ race.all_ambassadors }}</td>
      <td>{{ race.name }}</td>
      <td>{{ race.score|default_if_none:"N/A" }}</td>
    </tr>
    {% endif %}
    {% endfor %}
  </table>

{% endblock %}
