{% extends "starsweb/base.html" %}

{% block title %}{{ race.name }} Dashboard | {{ game.name }} | {{ block.super }}{% endblock %}

{% block header %}<h1>{{ race.name }} Dashboard</h1>{% endblock %}

{% block content %}

<div class="row">
<div class="panel panel-default">
<div class="panel-heading"><span class="lead">Race</span></div>
<div class="panel-body">
<p><b>Player Number:</b> {{ race.number|default_if_none:"N/A" }}</p>
{% if race_form %}
<form method="post" action="{% url 'race_update' game_slug=game.slug race_slug=race.slug %}">
  {% csrf_token %}
  {{ race_form.as_p }}
  <input type="submit" value="Update Race" />
</form>
{% else %}
<p><b>Name:</b> {{ race.name }}</p>
<p><b>Plural Name:</b> {{ race.plural_name }}</p>
{% endif %}
</div>
</div>
</div>

<div class="row">
<div class="panel panel-default">
<div class="panel-heading"><span class="lead">Ambassador</span></div>
<div class="panel-body">
{% if ambassador_form %}
<form method="post" action="{% url 'ambassador_update' game_slug=game.slug race_slug=race.slug %}">
  {% csrf_token %}
  {{ ambassador_form.as_p }}
  <input type="submit" value="Update Ambassador" />
</form>
{% else %}
<p><b>Name:</b> {{ ambassador.name }}</p>
{% endif %}
</div>
</div>
</div>

<div class="row">
<div class="panel panel-default">
<div class="panel-heading"><span class="lead">Race File</span></div>
<div class="panel-body">

<p>
<b>Current File:</b>
{% if race.racefile %}
<a href="{% url 'race_download' game_slug=game.slug race_slug=race.slug %}">{{ race.slug }}.r1</a>
{% else %}
N/A
{% endif %}
</p>

<div class="row">
{% if raceupload_form %}
<div class="col-md-6">
<form enctype="multipart/form-data" method="post" action="{% url 'race_upload' game_slug=game.slug race_slug=race.slug %}">
  {% csrf_token %}
  {{ raceupload_form.as_p }}
  <input type="submit" value="Upload Race" />
</form>
</div>
{% endif %}

{% if racechoose_form %}
<div class="col-md-6">
<form method="post" action="{% url 'race_bind' game_slug=game.slug race_slug=race.slug %}">
  {% csrf_token %}
  {{ racechoose_form.as_p }}
  <input type="submit" value="Attach Race" />
</form>
</div>
{% endif %}
</div>
</div>
</div>
</div>
{% endblock %}
