{% extends "starsweb/base.html" %}

{% block title %}{{ game.name }} | Games | {{ block.super }}{% endblock %}

{% block extra_head %}
<style>
  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }

  .line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
  }
</style>
{% endblock %}

{% block header %}
<h1>{{ game.name }}</h1>
<p class="lead">{% if game.current_turn %}Year {{ game.current_turn }}{% else %}{{ game.state }}{% endif %}</p>
{% endblock %}

{% block content %}
<ul class="nav nav-tabs">
  {% for stype, sname in sections %}
  <li{% if stype == section %} class="active"{% endif %}><a id="tab-{{ stype }}" role="tab" data-toggle="tab" data-stype="{{ stype }}">{{ sname }}</a></li>
  {% endfor %}
</ul>

<div class="row">
  <svg class="graph"></svg>
</div>

<div>
  <form id="graph-selection">
    {% for race in races %}
    <p><label>{{ race }}: <input type="checkbox" name="races" value="{{ race }}"{% if race in visible_races %} checked="checked"{% endif %} /></label></p>
    {% endfor %}
    <button type="button" value="Update">Update</button>
  </form>
</div>
{% endblock %}

{% block extra_scripts %}
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script>
var scores = {{ scores|safe }};
var sections = {{ json_sections|safe }};
var year_min = {{ year_min }};
var year_max = {{ year_max }};
</script>

<script>
var margin = {top: 20, right: 130, bottom: 40, left: 80},
    width = 960 - margin.left - margin.right,
    height = 500 - margin.top - margin.bottom;

var x = d3.scale.linear()
    .range([0, width])
    .domain([year_min, year_max]);
var y = d3.scale.linear()
    .range([height, 0]);

var xAxis = d3.svg.axis()
    .scale(x)
    .tickFormat(d3.format("d"))
    .orient("bottom");

var yAxis = d3.svg.axis()
    .scale(y)
    .orient("left");

var svg = d3.select("svg.graph")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

svg.append("g")
    .attr("class", "x axis")
    .attr("transform", "translate(0," + height + ")")
  .append("text")
    .style("text-anchor", "middle")
    .attr("transform", "translate(" + (width / 2) + "," + margin.bottom + ")")
    .text("Year")

svg.append("g")
    .attr("class", "y axis")
  .append("text")
    .style("text-anchor", "middle")
    .attr("transform", "translate(" + (12 - margin.left) + "," + (height / 2) + ") rotate(-90)")

var line = d3.svg.line()
    .x(function(d) { return x(d.key); })
    .y(function(d) { return y(d.value); });


function graph_draw(stype, raceset) {
    if (raceset.length <= 10) {
        var color = d3.scale.category10();
    } else {
        var color = d3.scale.category20();
    }
    color.domain(raceset);
    raceset = color.domain().slice();

    var data = [];
    $.each(raceset, function(index, value) {
        data[index] = {"race": value, "values": scores[stype][value]};
    });

    if ( stype === "rank" ) {
        y.domain([d3.max(data, function(d) { return d3.max(d3.values(d.values)); }), 1]);
    } else {
        y.domain([0, d3.max(data, function(d) { return d3.max(d3.values(d.values)); })]);
    }

    svg.select("g.x.axis")
        .call(xAxis);
    svg.select("g.y.axis")
        .call(yAxis);

    svg.select("g.y.axis > text")
        .text(sections[stype]);

    var race = svg.selectAll(".race")
        .data(data, function(d) { return d.race; });

    race.exit().remove();

    race.enter().append("g")
        .attr("class", "race")
      .append("path")
        .attr("class", "line");

    race.select("path")
        .attr("d", function(d) { return line(d3.entries(d.values)); })
        .style("stroke", function(d) { return color(d.race); });

    var legend = svg.selectAll(".legend")
        .data(raceset);

    legend.exit().remove();

    var new_legend = legend.enter().append("g")
        .attr("class", "legend")
        .attr("transform", function(d, i) { return "translate(0," + i * 20 + ")"; });

    new_legend.append("rect")
        .attr("x", width + 6)
        .attr("width", 18)
        .attr("height", 18);

    new_legend.append("text")
        .attr("x", width + 28)
        .attr("y", 9)
        .attr("dy", ".35em")
        .style("text-anchor", "start");

    legend.select("rect").style("fill", color);
    legend.select("text").text(function(d) { return d; });
}

function update_url($form) {
    location.replace('?' + $form.serialize());
}

function draw_from_form($form) {
    var races = [];
    var stype = "score";
    $.each($form.serializeArray(), function (index, value) {
        if ( value['name'] === "races" ) { races.push(value['value']); }
        if ( value['name'] === "stype" ) { stype = value['value']; }
    });
    graph_draw(stype, races);
}

$("a[data-toggle='tab']").on("shown.bs.tab", function (e) {
    var stype = $(e.target).data("stype");
    draw_from_form($("form#graph-selection"));
});

$("form#graph-selection button").click(function (e) {
    draw_from_form($(this).parent());
});

$( document ).ready(function() {
    draw_from_form($("form#graph-selection"));
});
</script>
{% endblock %}
