{% extends "starsweb/base.html" %}

{% block title %}{{ game.name }} | Games | {{ block.super }}{% endblock %}

{% block extra_head %}
<style>
  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }

  .line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
  }

  .focus .line {
    clip-path: url(#clip);
  }

  div#race-bar {
    margin: 15px 0 0 80px;
  }
</style>
{% endblock %}

{% block header %}
<h1>{{ game.name }}</h1>
<p class="lead">{% if game.current_turn %}Year {{ game.current_turn }}{% else %}{{ game.state }}{% endif %}</p>
{% endblock %}

{% block content %}
<ul class="nav nav-tabs">
  {% for stype, sname in sections %}
  <li{% if stype == section %} class="active"{% endif %}><a id="tab-{{ stype }}" role="tab" data-toggle="tab" data-stype="{{ stype }}">{{ sname }}</a></li>
  {% endfor %}
</ul>

<div>
  <svg class="graph"></svg>
</div>

<div id="race-bar">
  <form id="graph-selection">
    <input type="hidden" name="section" value="{{ section }}" />
    <input type="hidden" name="from_year" value="{{ from_year }}" />
    <input type="hidden" name="to_year" value="{{ to_year }}" />
    <div class="btn-group" data-toggle="buttons">
        {% for race in races %}
        <label class="btn btn-primary{% if race in visible_races %} active{% endif %}">
        <input type="checkbox" name="races" value="{{ race }}"{% if race in visible_races %} checked="checked"{% endif %} />{{ race }}
        </label>
        {% endfor %}
    </div>
  </form>
<div>

<p><a id="graph-permalink" href="">Permalink</a></p>
{% endblock %}

{% block extra_scripts %}
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script>
var scores = {{ scores|safe }};
var sections = {{ json_sections|safe }};
var year_min = {{ year_min }};
var year_max = {{ year_max }};
</script>

<script>
var margin = {top: 20, right: 130, bottom: 140, left: 80},
    margin2 = {top: 485, right: 130, bottom: 40, left: 80},
    width = 960 - margin.left - margin.right,
    height = 600 - margin.top - margin.bottom,
    height2 = 600 - margin2.top - margin2.bottom;

var x = d3.scale.linear()
    .range([0, width])
    .domain([year_min, year_max]);
var x2 = d3.scale.linear()
    .range([0, width])
    .domain([year_min, year_max]);
var y = d3.scale.linear()
    .range([height, 0]);
var y2 = d3.scale.linear()
    .range([height2, 0]);

var xAxis = d3.svg.axis()
    .scale(x)
    .tickFormat(d3.format("d"))
    .orient("bottom");

var xAxis2 = d3.svg.axis()
    .scale(x2)
    .tickFormat(d3.format("d"))
    .orient("bottom");

var yAxis = d3.svg.axis()
    .scale(y)
    .orient("left");

var brush = d3.svg.brush()
    .x(x2)
    .on("brush", brushed);

var line = d3.svg.line()
    .x(function(d) { return x(d.key); })
    .y(function(d) { return y(d.value); });

var line2 = d3.svg.line()
    .x(function(d) { return x2(d.key); })
    .y(function(d) { return y2(d.value); });

var svg = d3.select("svg.graph")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom);

svg.append("defs").append("clipPath")
    .attr("id", "clip")
  .append("rect")
    .attr("width", width)
    .attr("height", height);
var focus = svg.append("g")
    .attr("class", "focus")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

focus.append("g")
    .attr("class", "x axis")
    .attr("transform", "translate(0," + height + ")")
    .call(xAxis);

focus.append("g")
    .attr("class", "y axis")
  .append("text")
    .style("text-anchor", "middle")
    .attr("transform", "translate(" + (12 - margin.left) + "," + (height / 2) + ") rotate(-90)")

var context = svg.append("g")
    .attr("class", "context")
    .attr("transform", "translate(" + margin2.left + "," + margin2.top + ")");

context.append("g")
    .attr("class", "x axis")
    .attr("transform", "translate(0," + height2 + ")")
    .call(xAxis2)
  .append("text")
    .style("text-anchor", "middle")
    .attr("transform", "translate(" + (width / 2) + "," + margin2.bottom + ")")
    .text("Year");

context.append("g")
    .attr("class", "x brush")
    .call(brush)
  .selectAll("rect")
    .attr("y", -6)
    .attr("height", height2 + 7);


function brushed() {
    var domain = brush.empty() ? x2.domain() : brush.extent();
    var $form = $("form#graph-selection");
    var formdata = parse_form($form);
    var data = [];

    var from_year = domain[0],
        to_year = domain[1];

    if ( brush.empty() ) {
        from_year = '';
        to_year = '';
    }

    $form.find("input[name='from_year']").val(from_year);
    $form.find("input[name='to_year']").val(to_year);
    update_permalink_url($form);

    $.each(formdata.races, function(index, value) {
        var values = {};
        $.each(scores[formdata.stype][value], function(key, v) {
            if ( +key >= domain[0] && +key <= domain[1] ) { values[key] = v; }
        });
        data[index] = {"race": value, "values": values};
    });

    if ( formdata.stype === "rank" ) {
        y.domain([d3.max(data, function(d) { return d3.max(d3.values(d.values)); }), 1]);
    } else {
        y.domain([0, d3.max(data, function(d) { return d3.max(d3.values(d.values)); })]);
    }
    svg.select("g.y.axis")
        .call(yAxis);

    x.domain(domain)
        .range([0, width]);
    focus.selectAll("g.race path")
        .attr("d", function(d) { return line(d3.entries(d.values)); });
    focus.select("g.x.axis").call(xAxis);
}

function graph_draw(stype, raceset) {
    if (raceset.length <= 10) {
        var color = d3.scale.category10();
    } else {
        var color = d3.scale.category20();
    }
    color.domain(raceset);
    raceset = color.domain().slice();

    var data = [];
    $.each(raceset, function(index, value) {
        data[index] = {"race": value, "values": scores[stype][value]};
    });

    if ( stype === "rank" ) {
        y.domain([d3.max(data, function(d) { return d3.max(d3.values(d.values)); }), 1]);
    } else {
        y.domain([0, d3.max(data, function(d) { return d3.max(d3.values(d.values)); })]);
    }
    y2.domain(y.domain());

    svg.select("g.y.axis")
        .call(yAxis);

    svg.select("g.y.axis > text")
        .text(sections[stype]);

    var race = focus.selectAll(".race")
        .data(data, function(d) { return d.race; });

    race.exit().remove();

    race.enter().append("g")
        .attr("class", "race")
      .append("path")
        .attr("class", "line");

    race.select("path")
        .attr("d", function(d) { return line(d3.entries(d.values)); })
        .style("stroke", function(d) { return color(d.race); });

    var race2 = context.selectAll(".race")
        .data(data, function(d) { return d.race; });

    race2.exit().remove();

    race2.enter().append("g")
        .attr("class", "race")
      .append("path")
        .attr("class", "line");

    race2.select("path")
        .attr("d", function(d) { return line2(d3.entries(d.values)); })
        .style("stroke", function(d) { return color(d.race); });

    var legend = focus.selectAll(".legend")
        .data(raceset);

    legend.exit().remove();

    var new_legend = legend.enter().append("g")
        .attr("class", "legend")
        .attr("transform", function(d, i) { return "translate(0," + i * 20 + ")"; });

    new_legend.append("rect")
        .attr("x", width + 6)
        .attr("width", 18)
        .attr("height", 18);

    new_legend.append("text")
        .attr("x", width + 28)
        .attr("y", 9)
        .attr("dy", ".35em")
        .style("text-anchor", "start");

    legend.select("rect").style("fill", color);
    legend.select("text").text(function(d) { return d; });

    brushed();
}

function update_permalink_url($form) {
    $("#graph-permalink").attr("href", "?" + $form.serialize());
}

function parse_form($form) {
    var data = {"stype": "score", "races": []};
    $.each($form.serializeArray(), function (index, value) {
        if ( value['name'] === "races" ) { data.races.push(value['value']); }
        if ( value['name'] === "section" && value['value'] ) { data.stype = value['value']; }
    });
    return data;
}

$("a[data-toggle='tab']").on("shown.bs.tab", function (e) {
    var $form = $("form#graph-selection")
    var stype = $(e.target).data("stype");
    $form.find("input[name='section']").val(stype);
    var data = parse_form($form);
    update_permalink_url($form);
    graph_draw(data.stype, data.races);
});

$("form#graph-selection input:checkbox").change(function (e) {
    var $form = $("form#graph-selection")
    var data = parse_form($form);
    update_permalink_url($form);
    graph_draw(data.stype, data.races);
});

$( document ).ready(function() {
    var $form = $("form#graph-selection");
    var data = parse_form($form);

    var from_year = $form.find("input[name='from_year']").val(),
        to_year = $form.find("input[name='to_year']").val();
    if ( from_year && to_year ) {
        brush.extent([+from_year, +to_year]);
        svg.select(".brush").call(brush);
    }

    update_permalink_url($form);
    graph_draw(data.stype, data.races);
});
</script>
{% endblock %}
