{% extends "starsweb/base.html" %}

{% block title %}User Dashboard | {{ block.super }}{% endblock %}

{% block header %}<h1>User Dashboard</h1>{% endblock %}

{% block content %}

<h2>Race Pool</h2>

{% for rf in userraces %}
<div class="row">
<div class="panel panel-default">

<div class="panel-body">
<a href="{% url 'userrace_update' pk=rf.pk %}">
<span class="lead">{{ rf }}</span></a>

<a href="{% url 'userrace_upload' pk=rf.pk %}">
<span class="glyphicon glyphicon-upload"></span></a>

{% if rf.racefile %}
<a href="{% url 'userrace_download' pk=rf.pk %}">
<span class="glyphicon glyphicon-download"></span></a>
{% endif %}

<a class="pull-right" href="{% url 'userrace_delete' pk=rf.pk %}">
<span class="glyphicon glyphicon-remove-circle"></span></a>
</div>

</div>
</div>
{% endfor %}

<h2>Game Races</h2>

{% for rf in gameraces %}
<div class="row">
<div class="panel panel-default">

<div class="panel-body">
<span class="lead">{{ rf }}</span>

<a href="{% url 'race_download' game_slug=rf.race.game.slug race_slug=rf.race.slug %}">
<span class="glyphicon glyphicon-download"></span></a>
</div>

</div>
</div>
{% endfor %}

{% endblock %}
